@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Posting Page";
}

    <br class="d-block d-md-none"><br><br><br>

    <div class="container d-block d-md-none">

        <div class="input-group input-group-sm">

            <input type="text" class="form-control" placeholder="Find beer, brewery and friends">

            <div class="input-group-append">

                <span class="input-group-text"><i class="fa fa-search"></i></span>

            </div>
        </div>
    </div>
    
    <br>

    <!--=====================================
        DETAIL DATA BODY
    ======================================-->
    
    <div class="container-fluid">

        <div class="container">

            <div class="row">
                <!-- LEFT COLUMN MENU-->
                <div class="col-md-3 mt-2">
                    <div>
                        <ul class="fa-ul">
                             <li class="list-group-item"><h6><a href="@Url.Action("Index","Home")">Home</a></h6></li>
                            <li class="list-group-item sd-active"><i class="fa-solid fa-id-card"></i>  <a asp-route-id="0" asp-area="Principal" asp-page="/Account/Details">My Profile</a></li>
                            <li class="list-group-item"><i class="fa-solid fa-people-group"></i>  <a href="@Url.Action("Friends","Home")">My Friends</a></li>
                            <li class="list-group-item"><i class="fa-solid fa-comments"></i>  <a href="@Url.Action("Friends_Activities","Home")">Recent Friend Activity</a></li>                            
                            <li class="list-group-item"><i class="fa-solid fa-beer-mug-empty"></i>  <a href="@Url.Action("Beer_History","Home")">Beer History</a></li>
                            <li class="list-group-item"><i class="fa-solid fa-archway"></i>  <a href="@Url.Action("Beer_Place","Home")">Beer Places</a></li>
                            <li class="list-group-item"><i class="fa-solid fa-computer"></i>  <a href="settings.html">Account Settings</a></li>@*
                            <li class="list-group-item"><i class="fa-solid fa-door-open"></i>  <a asp-area="Brewery" asp-controller="Brewery" asp-action="Brewery">Brewery</a></li>*@
                            <li class="list-group-item"><i class="fa-solid fa-door-open"></i>  <a asp-route-id="0" asp-area="Brewery" asp-page="/Account/Register">Add Brewery</a></li>  @*                          
                            <li class="list-group-item"><i class="fa-solid fa-door-open"></i>  <a asp-area="Beers" asp-controller="Beers" asp-action="Beers">Beers</a></li>*@
                            <li class="list-group-item"><i class="fa-solid fa-door-open"></i>  <a asp-route-id="0" asp-area="Beers" asp-page="/Account/Register">Add Beer</a></li>
                            <li class="list-group-item"><i class="fa-solid fa-door-open"></i>  <a asp-area="Users" asp-controller="Users" asp-action="Logout">Logout</a></li>
                          </ul>
                    </div>                    
                </div>

                <!-- MID COLUMN POST-->
                <!-- POST 1-->
                <div class="col-md-6 p-3 bg-white div-wrapper" >
                    <div class="bg-white div-wrapper card box1">

                        
                        
                        <figure class="figure mt-1">
                            <div class="col-12">
                                <a href="posting.html">
                                <img src="~/img/img_posting/beer1.jpg" class="figure-img img-fluid rounded img-fluid " alt="A corners in a figure."></a>
                            </div>
                        </figure> 
                        
                        <hr class="mb-4" style="border: 1px solid #e2be4b">

                        <div class="row col-12">
                            <div class="col-12 form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                            
                            <div class="d-flex align-items-center">
                                
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary btn-sm align-items-center" >
                                        <img src="~/img/comments-xxl.png" alt="" width="15%">
                                    </button>                                 
                                </div>
                                

                            </div>
                        </div>                        

                        <div  class="row col-12 p-2">
                            
                            <div class="col-12 p-1">
                                <div class="media border p-3">
                                    <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                    <div class="media-body">
                                        <h6>John Doe <small><i>Posted on February 19, 2016</i></small></h6>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit officia ex sed a minima iandae tempora.</p>
                                        <div class="media p-3">
                                        <img src="https://www.w3schools.com/bootstrap4/img_avatar4.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                                        <div class="media-body">
                                            <h6>Jane Doe <small><i>Posted on February 20 2016</i></small></h6>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt mag ipsum ipsa ratione....</p>
                                        </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>          
            
                

                                  
                </div>

                <!-- RIGTH COLUMN -->
                <div class="d-none d-lg-block col-md-3 p-3 ml-0 bg-white div-wrapper">
                    <!-- PERFIL SUMMARY -->
                    <div class="perfil-summary">
                        <div>
                            <div>
                                <a href="@Url.Action("Perfil","Home")">
                                <img class="img-pic img-fluid lead float-left rounded-circle mr-2"
                                    src="~/img/perfil.jpeg"
                                    alt="Lorem ipsum dolor sit amet"></a>
                            </div>
                            <div class="mt-2">
                                <h5>Kelvin Jimenez</h5>
                                <h6><a href="@Url.Action("Perfil","Home")">Kelvinj1979</a></h6>
                            </div>

                            <br>
                            <div class="row col-12">
                            
                                <div class="col-12 p-2 mt-4">
                                    <span class="align-bottom">
                                        <h5><a href="beer.html">La Rubina</a> by <a href="brewery.html">Birra Castello</a> </h5>
                                    </span>  
                                </div>
                            </div>
    
                            <div class="row col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="ratings col-9">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="col-3">
                                        <h6 class="review-count text-right">4.5/5</h6>
                                    </div>                                    
                                </div>
                            </div>

                            <div class="row col-12 p-2">
                                <div class="d-flex justify-content-between align-items-right">
                                    <div>
                                        2 hour ago                                
                                    </div>
                                    
    
                                </div>
                            </div>

                            <br>

                            <b>How was it?</b>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab earum facilis neque, incidunt similique totam blanditiis doloremque non nostrum. Fugiat cupiditate dolor tempore quis ipsum ipsam ratione cum assumenda adipisci!</p>
                            <br>
                            <div class="row col-12 m-0">
                                <button type="button" class="btn btn-warning btn-sm">
                                    <img src="~/img/beercup.png" alt="" width="15%">
                                </button>                                
                            </div> 
                            <div class="row col-12 p-2">
                                <div class="d-flex justify-content-between align-items-right border">
                                    <div class="col-1 p-1 text-right">
                                       <h6>5</h6>                                 
                                    </div>
                                    <div class="col-3 text-left">
                                        <img  src="~/img/beercup.png" alt="" width="70%">                                
                                     </div>
                                    <div class="col-8 p-1">
                                        <img src="~/img/perfil3.jpg" alt="" width="5%">                                
                                        <img src="~/img/perfil4.jpg" alt="" width="5%">                                
                                        <img src="~/img/perfil.jpeg" alt="" width="5%">
                                        + 2 more...
                                    </div>
    
                                </div>
                            </div>
                        
                        </div>
                            
                            
                    </div>

                </div>

            </div>

        </div>
    </div>

    <br>



