@model Zythum.Areas.Beers.Models.TBeers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TBeers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerABV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerABV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerIBU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerIBU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreweryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreweryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BeerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
